include README.md LICENSE
prune meerkat/interactive/app/.svelte-kit
prune meerkat/interactive/app/src/lib/wrappers
prune */node_modules
prune */__pycache__
global-exclude *.buildprint
global-exclude *.pyc
global-exclude *.DS_Store
graft meerkat/interactive/app/build
graft meerkat/interactive/templates
recursive-include meerkat/interactive/app/src/lib/component *.svelte
recursive-include meerkat/interactive/app/src/lib/shared *.svelte
include demo/*.py