<script lang="ts">
    import banner from '$lib/assets/banner_small.png';
    import { API_URL } from '{{ import_prefix }}';
    import { Page } from '{{ import_prefix }}';
    import { onMount, setContext } from 'svelte';
    
    {% for component in frontend_components -%}
    import {{ component.frontend_alias }} from '$lib/wrappers/__{{ component.namespace }}/{{ component.component_name }}.svelte';
    {% endfor %}
    
    setContext("Components", {
        {% for component in components -%}
        "{{ component.alias }}": {{ component.frontend_alias }},
        {% endfor %}
    })

    let config: Page | null = null;
    onMount(async () => {
        const id = new URLSearchParams(window.location.search).get('id');
        config = await (await fetch(`${$API_URL}/page/${id}/config`)).json();
        document.title = "{{ title }}";
    });
</script>

<div class="h-screen">
    {% raw %}{#if config}{% endraw %}
        <Page {config} />
    {:else}
        <div class="flex justify-center h-screen items-center">
            <img src={banner} alt="Meerkat" class="h-12" />
        </div>
    {/if}
</div>
