sphinx_autodoc_typehints
nbsphinx
toml
ipython
jupyter-sphinx==0.4.0
sphinx-panels
sphinx-autobuild
jupyter-book==0.6.5
sphinx-external-toc
sphinx_book_theme
myst-nb==0.17.1
myst-parser==0.18.1
sphinx-toolbox
sphinx-copybutton
sphinx_design
jinja2
pydata-sphinx-theme==0.8.1
sphinx==5.3.0
