sphinx_autodoc_typehints
nbsphinx
toml
ipython
jupyter-sphinx
sphinx-panels
sphinx-autobuild
jupyter-book
sphinx-external-toc
sphinx_book_theme
myst_nb
sphinx-toolbox
sphinx-copybutton
sphinx_design
jinja2
