sphinx_autodoc_typehints
nbsphinx
toml
ipython<8.13.0; python_version <= "3.8" # https://github.com/ipython/ipython/issues/14053
ipython; python_version >= "3.9"
jupyter-sphinx==0.4.0
sphinx-panels
sphinx-autobuild
jupyter-book==0.6.5
sphinx-external-toc
sphinx_book_theme
myst-nb==0.17.1
myst-parser==0.18.1
sphinx-toolbox
sphinx-copybutton
sphinx_design
jinja2
pydata-sphinx-theme==0.8.1
sphinx==4.5.0
sphinx_remove_toctrees
